
body{
	background-image: url(https://i.pinimg.com/originals/10/d3/e9/10d3e908d999a794ead42c63be97d86b.jpg),
	url(http://bellagambaam.weebly.com/uploads/7/2/5/0/72504765/1424977_orig.jpg)
}

ul{
	text-decoration: none;
	list-style-type: none;
	margin-right: 9%;
}

.check,.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.check:hover ,.close:hover {
    background-color: #fff;
    color: red;
}

ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: white;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.header{
	text-align: center;
    margin-top: 12%;
    color: white;
}
.enterbox-adj{
	text-align: center;
}

.enterboc-adj>input{
	border: 2px solid black;
    margin: 19px;
    padding-top: 5px;
    padding-right: 86px;
    padding-bottom: 7px;
    padding-left: 9px;
}

.add-icon-container{
	display: inline-block;

}

.add-icon-container>button{
background-color: #8BC34A;
    color: white;
    font-weight: bold;
    padding-top: 4px;
    padding-right: 12px;
    padding-left: 15px;
    padding-bottom: 4px;
    border-radius: 31px;
}


ul li.checked::before {
    content: '';
    position: absolute;
    border-color: white;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

ul li.checked {
   background: #c77979e3;
    color: #fff;
    text-decoration: line-through;
}

/*ul li:hover {
    background: #ddd;
}*/

ul li:nth-child(odd) {
    background: #a23a3ad9;
}


ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #b65a5a;
    font-size: 18px;
    transition: 0.2s;
    color: #FFEB3B;

    /* make the list items unselectable */
/*    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;*/
}